<div class="chat-container">
  <div class="chat-sidebar">
    <h4 class="text-info-emphasis">Connected Users</h4>
    <ul class="user-list">
      <li
        *ngFor="let user of this.chatService.connectedUsers$ | async"
        class="user-item"
      >
        <i class="fas fa-user-circle fa-2x text-info"></i>
        <span style="color: #fff; font-weight: 600"
          >{{ user }}
          <i style="margin-left: 0.5rem" class="fas fa-circle text-success"></i
        ></span>
      </li>
    </ul>
  </div>

  <div class="chat-main">
    <div class="header">
      <div class="welcome-message">
        <h4 class="text-info-emphasis">Welcome to {{ roomName }} room!</h4>
      </div>
      <button (click)="leaveRoom()" class="btn btn-danger">Leave Chat</button>
    </div>
    <div #divScroll class="chat-messages">
      <div
        *ngFor="let message of this.chatService.messages$ | async"
        [ngClass]="{
          incoming: message.user != loggedInUser,
          outgoing: message.user === loggedInUser
        }"
      >
        <div>{{ message.message }}</div>
        <div class="message-time">
          {{ message.messageTime | date : "shortTime" }}
        </div>
      </div>
    </div>

    <div class="chat-input">
      <input
        (keyup.enter)="sendMessage()"
        type="text"
        [(ngModel)]="inputMessage"
        placeholder="Type a message"
      />
      <i (click)="sendMessage()" class="fas fa-paper-plane text-info"></i>
    </div>
  </div>
</div>
