<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 rounded-lg shadow-lg bg-light p-4">
      <h1 class="text-center mb-4 cool-heading">Join Room</h1>
      <form [formGroup]="joinRoomForm">
        <div class="mb-3">
          <div class="text-center mb-3">
            <img
              src="https://img.icons8.com/ios-filled/50/000000/room.png"
              class="img-fluid rotating-image"
              alt="Room"
            />
          </div>
          <input
            type="text"
            class="form-control"
            id="roomName"
            formControlName="room"
            placeholder="Enter room name"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="displayName"
            formControlName="user"
            placeholder="Enter display name"
            required
          />
        </div>
        <button [disabled]="joinRoomForm.invalid"
          (click)="joinRoom()"
          type="submit"
          class="btn btn-primary btn-block mb-3"
        >
          <i class="fas fa-sign-in-alt me-2"></i> Join
        </button>
      </form>
    </div>
  </div>
</div>
